# Drivers of Foreign Exchange - Thesis Work

In [ ]:
import pandas as pd

Creating a function to check if the name of the journal is among the top, reputed journals in the field of economics.

In [1]:
top_economics_journals = [
    'American Economic Review', 
    'Quarterly Journal of Economics', 
    'Journal of Political Economy', 
    'Econometrica', 
    'Review of Economic Studies', 
    'Journal of Economic Theory', 
    'Journal of Finance', 
    'Journal of Monetary Economics', 
    'Journal of Econometrics', 
    'Journal of Economic Perspectives',
    'Economic Journal',
    'International Economic Review',
    'Journal of the European Economic Association',
    'Quantitative Economics',
    'Review of Economics and Statistics', 
    'Journal of Environmental Economics and Management',
    'Journal of the Association of Environmental and Resource Economists',
    'Journal of Economic History',
    'Journal of Development Economics', 
    'Journal of Economic Growth',
    'Theoretical Economics',
    'Games and Economic Behavior',
    'Journal of Financial Economics', 
    'Review of Financial Studies',
    'Journal of Health Economics',
    'American Journal of Health Economics',
    'RAND Journal of Economics',
    'Journal of Industrial Economics',
    'Journal of International Economics',
    'Journal of Labor Economics',
    'Journal of Human Resources',
    'Review of Economic Dynamics', 
    'Journal of Money, Credit, and Banking',
    'Journal of Public Economics', 
    'Journal of Urban Economics',

]
def check_journal(journal_name):
    # Step 3: Check if the journal is in the list
    if journal_name in top_economics_journals:
        print("Yes, you should take a look at this paper")
    else:
        print("No, move on to another paper")

journal = input("Enter the name of the journal: ")
check_journal(journal)

Yes, you should take a look at this paper

In [1]:
import pandas as pd

In [17]:
exchange_data = pd.read_excel("C:\\Users\\AdityaTheEmp\\Desktop\\Cornell\\Data for the thesis\\Exchange rate monthly data 1994-2024.xlsx", parse_dates = True)

In [18]:
exchange_data.head(5)

,Date,Algerian dinar (DZD),Australian dollar (AUD),Austrian schilling (ATS),Belgian franc (BEF),Botswana pula (BWP),Brazilian real (BRL),Brunei dollar (BND),Canadian dollar (CAD),Chilean peso (CLP),...,South African rand (ZAR),Spanish peseta (ESP),Swedish krona (SEK),Swiss franc (CHF),Thai baht (THB),Trinidadian dollar (TTD),U.A.E. dirham (AED),U.K. pound (GBP),U.S. dollar (USD),Uruguayan peso (UYU)
0,1994-01-03 00:00:00,NaN,NaN,12.194,NaN,NaN,326.095,NaN,NaN,NaN,...,3.4,142.81,8.3630,1.4790,NaN,5.83400,3.671,NaN,1.0,NaN
1,1994-01-04 00:00:00,NaN,0.6873,12.234,NaN,NaN,331.210,NaN,1.3174,NaN,...,3.4,143.57,8.3685,1.4870,25.58,5.82041,3.671,1.4820,1.0,NaN
2,1994-01-05 00:00:00,NaN,0.6870,12.187,NaN,NaN,336.470,NaN,1.3180,NaN,...,3.4,143.74,8.2435,1.4790,25.56,5.82987,3.671,1.4862,1.0,NaN
3,1994-01-06 00:00:00,NaN,0.6857,NaN,NaN,NaN,341.810,NaN,1.3211,NaN,...,3.4,NaN,NaN,1.4750,25.57,5.82018,3.671,1.4843,1.0,NaN
4,1994-01-07 00:00:00,NaN,NaN,12.235,NaN,NaN,347.225,NaN,1.3234,NaN,...,3.4,145.61,8.2090,1.4805,25.55,5.80606,3.671,1.4836,1.0,NaN

In [22]:
print(exchange_data.columns)

Index(['Algerian dinar   (DZD)                     ',
       'Australian dollar   (AUD)                     ',
       'Austrian schilling   (ATS)                     ',
       'Belgian franc   (BEF)                     ',
       'Botswana pula   (BWP)                     ',
       'Brazilian real   (BRL)                     ',
       'Brunei dollar   (BND)                     ',
       'Canadian dollar   (CAD)                     ',
       'Chilean peso   (CLP)                     ',
       'Chinese yuan   (CNY)                     ',
       'Czech koruna   (CZK)                     ',
       'Danish krone   (DKK)                     ',
       'Deutsche mark   (DEM)                     ',
       'Estonian kroon   (EEK)                     ',
       'Euro   (EUR)                     ',
       'Finnish markka   (FIM)                     ',
       'French franc   (FRF)                     ',
       'Greek drachma   (GRD)                     ',
       'Indian rupee   (INR)                     ',
       'Irish pound   (IEP)                     ',
       'Israeli New Shekel   (ILS)                     ',
       'Italian lira   (ITL)                     ',
       'Japanese yen   (JPY)                     ',
       'Korean won   (KRW)                     ',
       'Kuwaiti dinar   (KWD)                     ',
       'Luxembourg franc   (LUF)                     ',
       'Malaysian ringgit   (MYR)                     ',
       'Maltese lira   (MTL)                     ',
       'Mauritian rupee   (MUR)                     ',
       'Mexican peso   (MXN)                     ',
       'Netherlands guilder   (NLG)                     ',
       'New Zealand dollar   (NZD)                     ',
       'Norwegian krone   (NOK)                     ',
       'Omani rial   (OMR)                     ',
       'Peruvian sol   (PEN)                     ',
       'Philippine peso   (PHP)                     ',
       'Polish zloty   (PLN)                     ',
       'Portuguese escudo   (PTE)                     ',
       'Qatari riyal   (QAR)                     ',
       'Russian ruble   (RUB)                     ',
       'Saudi Arabian riyal   (SAR)                     ',
       'Singapore dollar   (SGD)                     ',
       'South African rand   (ZAR)                     ',
       'Spanish peseta   (ESP)                     ',
       'Swedish krona   (SEK)                     ',
       'Swiss franc   (CHF)                     ',
       'Thai baht   (THB)                     ',
       'Trinidadian dollar   (TTD)                     ',
       'U.A.E. dirham   (AED)                     ',
       'U.K. pound   (GBP)                     ',
       'U.S. dollar   (USD)                     ',
       'Uruguayan peso   (UYU)                     '],
      dtype='object')

In [23]:
exchange_data.columns = exchange_data.columns.str.strip()
print(exchange_data.columns)

Index(['Algerian dinar   (DZD)', 'Australian dollar   (AUD)',
       'Austrian schilling   (ATS)', 'Belgian franc   (BEF)',
       'Botswana pula   (BWP)', 'Brazilian real   (BRL)',
       'Brunei dollar   (BND)', 'Canadian dollar   (CAD)',
       'Chilean peso   (CLP)', 'Chinese yuan   (CNY)', 'Czech koruna   (CZK)',
       'Danish krone   (DKK)', 'Deutsche mark   (DEM)',
       'Estonian kroon   (EEK)', 'Euro   (EUR)', 'Finnish markka   (FIM)',
       'French franc   (FRF)', 'Greek drachma   (GRD)', 'Indian rupee   (INR)',
       'Irish pound   (IEP)', 'Israeli New Shekel   (ILS)',
       'Italian lira   (ITL)', 'Japanese yen   (JPY)', 'Korean won   (KRW)',
       'Kuwaiti dinar   (KWD)', 'Luxembourg franc   (LUF)',
       'Malaysian ringgit   (MYR)', 'Maltese lira   (MTL)',
       'Mauritian rupee   (MUR)', 'Mexican peso   (MXN)',
       'Netherlands guilder   (NLG)', 'New Zealand dollar   (NZD)',
       'Norwegian krone   (NOK)', 'Omani rial   (OMR)', 'Peruvian sol   (PEN)',
       'Philippine peso   (PHP)', 'Polish zloty   (PLN)',
       'Portuguese escudo   (PTE)', 'Qatari riyal   (QAR)',
       'Russian ruble   (RUB)', 'Saudi Arabian riyal   (SAR)',
       'Singapore dollar   (SGD)', 'South African rand   (ZAR)',
       'Spanish peseta   (ESP)', 'Swedish krona   (SEK)',
       'Swiss franc   (CHF)', 'Thai baht   (THB)',
       'Trinidadian dollar   (TTD)', 'U.A.E. dirham   (AED)',
       'U.K. pound   (GBP)', 'U.S. dollar   (USD)', 'Uruguayan peso   (UYU)'],
      dtype='object')

In [24]:
first_column = exchange_data.iloc[:, 0]
print(first_column)

Date
1994-01-03 00:00:00                                                                             NaN
1994-01-04 00:00:00                                                                             NaN
1994-01-05 00:00:00                                                                             NaN
1994-01-06 00:00:00                                                                             NaN
1994-01-07 00:00:00                                                                             NaN
                                                                                               ...
               Disclaimer                                                                       NaN
               The International Monetary Fund makes no warranties, express or                  NaN
               implied, regarding these tables or the performance of this site.                 NaN
               The Fund shall not be liable for any losses or damages incurred                  NaN
               in connection with this site.                                                    NaN
Name: Algerian dinar   (DZD), Length: 7849, dtype: object

In [25]:
exchange_data.iloc[:, 0] = pd.to_datetime(exchange_data.iloc[:, 0], errors = 'coerce', dayfirst= True)

In [26]:
exchange_data.rename(columns={exchange_data.columns[0]: 'Date'}, inplace=True)

In [27]:
exchange_data['Date']

Date
1994-01-03 00:00:00                                                                             NaT
1994-01-04 00:00:00                                                                             NaT
1994-01-05 00:00:00                                                                             NaT
1994-01-06 00:00:00                                                                             NaT
1994-01-07 00:00:00                                                                             NaT
                                                                                               ...
               Disclaimer                                                                       NaT
               The International Monetary Fund makes no warranties, express or                  NaT
               implied, regarding these tables or the performance of this site.                 NaT
               The Fund shall not be liable for any losses or damages incurred                  NaT
               in connection with this site.                                                    NaT
Name: Date, Length: 7849, dtype: object

In [28]:
exchange_data = exchange_data.dropna(subset=['Date'])

In [29]:
exchange_data.set_index('Date', inplace=True)

c:\Users\AdityaTheEmp\anaconda3\lib\site-packages\pandas\core\indexes\base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [32]:
monthly_avg = exchange_data.resample('M').mean()
monthly_avg.reset_index(inplace=True)
monthly_avg['Date'] = monthly_avg['Date'].dt.strftime('%b-%Y')
print(monthly_avg)

         Date  Australian dollar   (AUD)  Austrian schilling   (ATS)  \
0    Jan-1970                   0.800713                         NaN
1    Feb-1970                        NaN                         NaN
2    Mar-1970                        NaN                         NaN
3    Apr-1970                        NaN                         NaN
4    May-1970                        NaN                         NaN
..        ...                        ...                         ...
652  May-2024                        NaN                         NaN
653  Jun-2024                        NaN                         NaN
654  Jul-2024                        NaN                         NaN
655  Aug-2024                        NaN                         NaN
656  Sep-2024                        NaN                         NaN

     Belgian franc   (BEF)  Botswana pula   (BWP)  Brazilian real   (BRL)  \
0                      NaN               0.102041                3.559706
1                      NaN                    NaN                     NaN
2                      NaN                    NaN                     NaN
3                      NaN                    NaN                     NaN
4                      NaN                    NaN                     NaN
..                     ...                    ...                     ...
652                    NaN                    NaN                     NaN
653                    NaN                    NaN                     NaN
654                    NaN                    NaN                     NaN
655                    NaN                    NaN                     NaN
656                    NaN                    NaN                     NaN

     Brunei dollar   (BND)  Canadian dollar   (CAD)  Chilean peso   (CLP)  \
0                 1.334133                 1.223159            670.493502
1                      NaN                      NaN                   NaN
2                      NaN                      NaN                   NaN
3                      NaN                      NaN                   NaN
4                      NaN                      NaN                   NaN
..                     ...                      ...                   ...
652                    NaN                      NaN                   NaN
653                    NaN                      NaN                   NaN
654                    NaN                      NaN                   NaN
655                    NaN                      NaN                   NaN
656                    NaN                      NaN                   NaN

     Chinese yuan   (CNY)  ...  South African rand   (ZAR)  \
0                6.608793  ...                   13.159702
1                     NaN  ...                         NaN
2                     NaN  ...                         NaN
3                     NaN  ...                         NaN
4                     NaN  ...                         NaN
..                    ...  ...                         ...
652                   NaN  ...                         NaN
653                   NaN  ...                         NaN
654                   NaN  ...                         NaN
655                   NaN  ...                         NaN
656                   NaN  ...                         NaN

     Spanish peseta   (ESP)  Swedish krona   (SEK)  Swiss franc   (CHF)  \
0                       NaN               8.432679             0.945454
1                       NaN                    NaN                  NaN
2                       NaN                    NaN                  NaN
3                       NaN                    NaN                  NaN
4                       NaN                    NaN                  NaN
..                      ...                    ...                  ...
652                     NaN                    NaN                  NaN
653                     NaN                    NaN                  NaN
654                     NaN                    NaN                  NaN
655                     NaN                    NaN                  NaN
656                     NaN                    NaN                  NaN

     Thai baht   (THB)  Trinidadian dollar   (TTD)  U.A.E. dirham   (AED)  \
0            32.813751                    6.599456                 3.6725
1                  NaN                         NaN                    NaN
2                  NaN                         NaN                    NaN
3                  NaN                         NaN                    NaN
4                  NaN                         NaN                    NaN
..                 ...                         ...                    ...
652                NaN                         NaN                    NaN
653                NaN                         NaN                    NaN
654                NaN                         NaN                    NaN
655                NaN                         NaN                    NaN
656                NaN                         NaN                    NaN

     U.K. pound   (GBP)  U.S. dollar   (USD)  Uruguayan peso   (UYU)
0              1.408136                  1.0                31.00484
1                   NaN                  NaN                     NaN
2                   NaN                  NaN                     NaN
3                   NaN                  NaN                     NaN
4                   NaN                  NaN                     NaN
..                  ...                  ...                     ...
652                 NaN                  NaN                     NaN
653                 NaN                  NaN                     NaN
654                 NaN                  NaN                     NaN
655                 NaN                  NaN                     NaN
656                 NaN                  NaN                     NaN

[657 rows x 52 columns]

C:\Users\AdityaTheEmp\AppData\Local\Temp\ipykernel_4092\878180677.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_avg = exchange_data.resample('M').mean()